<template>
    <lightning-card>
        <div class="slds-grid slds-gutters slds-wrap slds-p-around_medium lgc-bg">
            <div class="slds-col slds-size_6-of-12">
                <lightning-combobox name="accounts" label="Account" value="" placeholder="Select Account" options={optionsAccount} onchange={fetchContacts} required></lightning-combobox>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-combobox name="contacts" label="Contact" value="" placeholder="Select Contact" options={optionsContact} onchange={settingContactDetails}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-input type="email" label="Email" data-id="conEmail" disabled></lightning-input>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-input type="tel" label="Fax" data-id="conFax" disabled></lightning-input>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-input type="tel" label="Phone" data-id="conPhone" disabled></lightning-input>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-input type="date" data-id="closeDate" label="Close Date" required></lightning-input>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-combobox name="priceBook" label="PriceBook" value="" placeholder="Select PriceBook" options={optionsPriceBook} onchange={fetchPriceBookEntry} required></lightning-combobox>
            </div>
        </div>

        <template if:true={showTable}>
            <c-account-opportunity-child account-id={accountId} price-book-id={priceBookId} close-date={closeDate}></c-account-opportunity-child>
        </template>
          
    </lightning-card>
</template>