<template>
    <lightning-modal-header label="Document"></lightning-modal-header>
    <lightning-modal-body>
        <lightning-record-edit-form object-api-name={objectName} record-id={recordId} columns="2" onsuccess={handleSuccess} >
            <lightning-input-field  field-name="Name__c"></lightning-input-field>
            <lightning-input-field  field-name="Document_Type__c"></lightning-input-field>
            <lightning-input-field  field-name="Valid_From_Date__c"></lightning-input-field>
            <lightning-input-field  field-name="Valid_To_Date__c"></lightning-input-field>

            <lightning-button type="submit" class="slds-var-m-left_x-small" variant="brand" label="Save" onclick={updatingRecord}></lightning-button>
            <lightning-button class="slds-var-m-left_x-small" vraiant="brand" label="Cancel" onclick={handleOkay}></lightning-button> 
        </lightning-record-edit-form>
    </lightning-modal-body>
</template>