<template>

    <lightning-modal-header label="New Document"></lightning-modal-header>
    <lightning-modal-body>
        <lightning-record-form object-api-name={objectApiName} fields={fields} columns="2" onsuccess={handleSuccess}>
        </lightning-record-form>
    </lightning-modal-body>
</template>