<template>

    <div class="slds-vertical-tabs">
        <ul class="slds-vertical-tabs__nav" role="tablist" aria-orientation="vertical">
            <li class="slds-vertical-tabs__nav-item" title="Opportunities" role="presentation">
                <a class="slds-vertical-tabs__link" href="#" role="tab" tabindex="0" aria-selected="false"
                    aria-controls="slds-vertical-tabs-0" id="slds-vertical-tabs-0__nav">
                    <span class="slds-vertical-tabs__left-icon">
                        <span class="slds-icon_container slds-icon-standard-opportunity"
                            title="Description of icon when needed">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                            </svg>
                        </span>
                    </span>
                    <span class="slds-truncate" title="Opportunities">Opportunities</span>
                    <span class="slds-vertical-tabs__right-icon">
                        <span class="slds-badge slds-badge_inverse">New</span>
                    </span>
                </a>
            </li>
            <li class="slds-vertical-tabs__nav-item" title="Cases" role="presentation">
                <a class="slds-vertical-tabs__link  slds-is-active" href="#" role="tab" tabindex="-1" aria-selected="true"
                    aria-controls="slds-vertical-tabs-1" id="slds-vertical-tabs-1__nav">
                    <span class="slds-vertical-tabs__left-icon">
                        <span class="slds-icon_container slds-icon-standard-case"
                            title="Description of icon when needed">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                            </svg>
                        </span>
                    </span>
                    <span class="slds-truncate" title="Cases">Cases</span>
                    <span class="slds-vertical-tabs__right-icon">
                        <span class="slds-badge slds-badge_inverse">New</span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="slds-vertical-tabs__content slds-hide" id="slds-vertical-tabs-0" role="tabpanel"
            aria-labelledby="slds-vertical-tabs-0__nav">
            <div class="slds-text-longform">
                <h3 class="slds-text-heading_medium">Tab Title</h3>
                <p>Content for Tab 0</p>
                <p>Lorem ipsum dolor...</p>
                <p>Lorem ipsum dolor...</p>
            </div>
        </div>
        <div class="slds-vertical-tabs__content slds-show" id="slds-vertical-tabs-1" role="tabpanel"
            aria-labelledby="slds-vertical-tabs-1__nav">
            <div class="slds-text-longform">
                <h3 class="slds-text-heading_medium">Tab Title</h3>
                <p>Content for Tab 1</p>
                <p>Lorem ipsum dolor...</p>
                <p>Lorem ipsum dolor...</p>
            </div>
        </div>
        <div class="slds-vertical-tabs__content slds-hide" id="slds-vertical-tabs-2" role="tabpanel"
            aria-labelledby="slds-vertical-tabs-2__nav">
            <div class="slds-text-longform">
                <h3 class="slds-text-heading_medium">Tab Title</h3>
                <p>Content for Tab 1</p>
                <p>Lorem ipsum dolor...</p>
                <p>Lorem ipsum dolor...</p>
            </div>
        </div>
    </div>

    <!-- <lightning-card title="Meetings" icon-name="standard:Meeting__c" class="slds-theme_shade">
        <lightning-tabset variant="vertical" >
            <template for:each={meetingData} for:item="meeting">
                <lightning-tab key={meeting.Id} label={meeting.Subject__c} value={meeting.Id}>
                    <p>{meeting.Meeting_Date__c}</p>
                </lightning-tab>
            </template>
        </lightning-tabset>
    </lightning-card> -->
    <!-- <lightning-card>
        <div class="tab">
            <template for:each={meetingData} for:item="meeting">
                <button key={meeting.Id} value={meeting.Id} class="tablinks" onclick={openTab}>{meeting.Subject__c}
                    <div>
                        {meeting.Priority__c}
                    </div>
                </button>
                <div key={meeting.Id} data-id={meeting.Id} class="tabcontent">
                    <p>{meeting.Priority__c}</p>
                    <p>{meeting.Subject__c}</p>
                  </div>
            </template>
            
        </div>
   </lightning-card> -->
</template>