<template>

    <lightning-card>
        <table class="table">
            <tr>
            <th>Sr.</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>List Price</th>
            <th>Total</th>
            <th></th>
            </tr>
            <template if:true={showRow}>
                <template for:each={rows} for:item="row" >
                    <tr key={row}>
                        <td>
                            <lightning-input type="number" data-id={row.id} name="serial" value={row.serial} disabled></lightning-input>
                        </td> 
                        <td>
                            <lightning-combobox data-id={row.id} name="products" label="Product" value="" placeholder="Select Product" options={optionsProduct} onchange={addingProduct} required></lightning-combobox>
                        </td> 
                        <td>
                            <lightning-input type="number" data-id={row.id} name="quantity" onchange={filldetails} required></lightning-input>
                        </td>  
                        <td>
                            <lightning-input data-id={row.id} type="text" name="unit" disabled></lightning-input>
                        </td>
                        <td>
                            <lightning-input data-id={row.id} type="text" name="list" disabled></lightning-input>
                        </td>
                        <td>
                            <lightning-input data-id={row.id} type="text" name="total" disabled></lightning-input>
                        </td>
                        <td>
                            <lightning-button-icon icon-name="utility:delete" data-id={row.id} alternative-text="Delete"   class="slds-m-left_xx-small" onclick={deleteRow}></lightning-button-icon>
                        </td>
                    </tr>

                </template>
            </template>
            
        </table>
        <lightning-button-group class="slds-p-around_medium lgc-bg">
            <lightning-button label="Add Row" onclick={addingRow} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="destructive" label="Delete All Rows" onclick={deletingAllRows} class="slds-m-left_x-small"></lightning-button>
        </lightning-button-group>
        <lightning-button label="+ Create" onclick={createRecords} class="slds-m-left_x-small"></lightning-button>
    </lightning-card>

</template>