<template>
    <lightning-card>
        <div>
            <lightning-button style="float:right; margin-right:2rem" variant="brand-neutral" label="New" onclick={addNewDocument}></lightning-button>
        </div>
        <div style="padding-left:44%">
            <h1><strong>Filters</strong></h1>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_6-of-12">
                <lightning-combobox name="documentType" label="Document Type" value={valueType} placeholder="Select Property" options={optionsType} onchange={filterByType} ></lightning-combobox>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-combobox name="validity" label="isValid" value={valueValid} placeholder="Select Property" options={optionsValid} onchange={filterByValidity} ></lightning-combobox>
            </div>
        </div>
        <div>
            <lightning-accordion class="example-accordion"
                            onsectiontoggle={handleToggleSection}
                            active-section-name='2006'>
            <template for:each={recordList} for:item="record">
                <div key={record.year}>
                        <lightning-accordion-section name={record.year} label={record.year}>
                            <lightning-datatable data={documentData} columns={columns} hide-checkbox-column="true" key-field="Id" sorted-by={sortBy} sorted-direction={sortDirection} onsort={handleSort} aria-haspopup="dialog" onrowaction={handleRowActions}></lightning-datatable>
                        </lightning-accordion-section>
                    </div> 
                </template>
            </lightning-accordion>
        </div>
    </lightning-card>
    
</template>